<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nameKey</key>
	<string>FirstMonster</string>
	<key>align</key>
	<string>CENTER</string>
	<key>actions</key>
	<array>
		<string>ANI_ATTACK</string>
		<string>ANI_DEFAULT</string>
		<string>ANI_MAGIC</string>
	</array>
	<key>ANI_ATTACK</key>
	<dict>
		<key>frames</key>
		<array>
			<string>0,174,103,76</string>
			<string>104,174,103,76</string>
			<string>2,89,96,69</string>
			<string>100,89,96,69</string>
			<string>199,89,102,69</string>
			<string>304,99,96,69</string>
			<string>0,0,94,59</string>
			<string>96,0,88,59</string>
			<string>252,0,68,59</string>
		</array>
		<key>imgSource</key>
		<string>xiaoshi.png</string>
	</dict>
	<key>ANI_DEFAULT</key>
	<dict>
		<key>frames</key>
		<array>
			<string>2,0,113,95</string>
			<string>118,0,146,95</string>
			<string>268,0,198,95</string>
			<string>470,0,182,95</string>
			<string>656,0,147,95</string>
			<string>807,0,113,95</string>
		</array>
		<key>imgSource</key>
		<string>dis.png</string>
	</dict>
	<key>ANI_MAGIC</key>
	<dict>
		<key>frames</key>
		<array>
			<string>0,0,7,42</string>
			<string>9,0,10,42</string>
			<string>21,0,10,42</string>
			<string>33,0,25,42</string>
			<string>60,0,29,42</string>
			<string>91,0,35,42</string>
			<string>128,0,48,42</string>
			<string>178,0,49,42</string>
			<string>229,0,48,42</string>
			<string>279,0,51,42</string>
			<string>332,0,47,42</string>
			<string>381,0,48,42</string>
			<string>431,0,48,42</string>
			<string>481,0,49,42</string>
			<string>532,0,49,42</string>
			<string>583,0,46,42</string>
		</array>
		<key>imgSource</key>
		<string>siwang.png</string>
	</dict>
</dict>
</plist>
